*, *::before, *::after {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

header {
    text-align: center;
    background-color: slategray;
}

main {
    background-color: lightskyblue;
}

input {
    box-sizing: border-box;
    width: 100%;
}

h4 {
    text-align: center;
}

button {
    background-color: #fff;
    border-radius: 10px;
}

button:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

ul {
    background-color: #ccc;
    border: 3px solid black;
}

.row {
    border: 3px solid black;
}


.low {
    background-color: green;
}

.mid {
    background-color: orange;
}

.high {
    background-color: red;
}