*, *::before, *::after {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


header {
    text-align: center;
}


.block1 {
    height: 200px;
}
.row {
    border: 3px solid red;
}